{% extends "layout.html" %}

{% block heading %}
<p>pg 2</p>
{% endblock %}

{% block body %}
<p>
  En enero de 2004, lanza la red social orkut En marzo se lanza Google Local que más tarde se integraría con Google Maps En abril Google presentó GMail, su servicio de correo electrónico con 1 Gb de almacenamiento6. <br> El 19 de agosto Google Inc saldría a la bolsa de valores bajo el símbolo de NASDAQ:GOOG, con una oferta inicial de 25,7 millones de acciones, y con un rango de precios de 85 a 95 dólares En octubre de ese año lanzan Google Desktop, que será descontinuado También lanzó el llamado Google Académico El 18 de agosto de ese mismo año Google salió a bolsa en WallStreet <br>En 2004 compró la empresa Keyhole <br>
  Un año después, en 2005, sacaron a la luz Google Maps y Google Earth Ese mismo año Google compró Android Inc Vint Cerf, considerado uno de los padres de Internet, fue contratado por Google en 2005 También lanzó Google Code y se desarrolla el primer Summer of Code En agosto presenta Google Talk En octubre Google lanza su lector de feeds RSS Google Reader En noviembre se presenta Google Analytics y en diciembre Google Transitbr <br>
  En 2006, lanza Picasa En marzo adquiere Writely para más tarde lanzar Google Docs y presenta ese mismo mes Google Finance En abril se presenta Google Calendar y en agosto Google Apps, servicio orientado a empresas En octubre de 2006, Google adquirió por 1650 millones de dólares la página de vídeos YouTube7​ Ese mismo mes adquiere JotSpot que más tarde se convertirá en Google Sites
</p>
<a href="{{ url_for('index') }}">Anterior</a>
{% endblock %}
