<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fechas importantes</title>
    <style media="screen">
      body {
        text-align: center
      }
    </style>
  </head>
  <body>
    <h3>Escriba en su URL alguna fecha importante y sabrá si es hoy es dicha fecha, ejemplo:</h3>
    <p>http://127.0.0.1:5000 <strong>/navidad</strong></p>
    <p>http://127.0.0.1:5000 <strong>/año_nuevo</strong></p>
    <p>http://127.0.0.1:5000 <strong>/hoy</strong></p>
  </body>
</html>
